# History files
.Rhistory

# Example code in package build process
*-Ex.R

# BIG DATA
DATA/test_v2.csv
DATA/train.csv

# Backup files
*~
*.swp

# Binaries
bin

# Database
*.sqlite3

# R & RStudio
.RData
.Rproj.user
*.Rproj
.Rapp*
